/* ===== VARIABLES CSS ===== */
:root {
    --color-rouge-1: #aa3322;
    --color-rouge-2: #721717;
    --color-noir: #000000;
    --color-blanc: #ffffff;
    --color-gris-1: #cccccc;
    --color-gris-2: #aaaaaa;
    --color-gris-3: #ededed;
    --background-rouge-1: #aa3322;
    --background-rouge-2: #721717;
    --background-gris-1: #cccccc;
    --background-gris-2: #aaaaaa;
    --background-gris-3: #ededed;
    --background-blanc: #ffffff;
    --background-noir: #000000;
    --size-xs: 12px;
    --size-sm: 14px;
    --size-md: 20px;
    --size-lg: 26px;
    --size-xl: 34px;
    --font-xs: 100;
    --font-sm: 300;
    --font-md: 500;
    --font-lg: 700;
    --font-xl: 900;
}

/* ===== card ===== */
.card {
    background-color: var(--background-gris-3);
    border: 1.5px dashed var(--color-rouge-1);
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    width: 600px;
}